In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (16, 9 * 0.9)
plt.rcParams.update({'font.size': 14})

COLOR = 'black'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR

plt.rcParams['savefig.dpi'] = 300

# plt.style.use('default')

In [2]:
import nbimporter
import functions as F

In [37]:
root = '/home/raul/Documents/ROBOTS/evaluator-push-to-see/'

file_name = 'training_9_1_k_iter.csv'

df = pd.read_csv(root + file_name)
df = df.fillna(0)

df = df.astype({'iteration': 'int32', 'session': 'int32', 'obj_found': 'int32', 'obj_init': 'int32', 'run': 'int32'})

df

,iteration,session,run,obj_init,obj_found,diff_seg_reward,current_seg_reward,expected_reward,loss
0,0,1,1,5,2,0.000000,0.029686,0.000000,0.000000
1,1,2,1,5,4,0.535066,0.564752,30.647367,29.556135
2,2,3,1,5,4,0.006566,0.571318,2.226544,1.805633
3,3,4,1,5,4,0.006019,0.577337,2.199116,1.657603
4,4,5,1,5,3,-0.255444,0.321893,-4.318513,2.745029
...,...,...,...,...,...,...,...,...,...
9123,9123,12,890,2,1,0.017791,0.336230,0.172091,0.005311
9124,9124,13,890,2,1,0.007960,0.344190,0.150515,0.007075
9125,9125,14,890,2,1,-0.001074,0.343116,0.128352,0.011119
9126,9126,0,890,2,2,0.472636,0.815753,22.456054,21.710148
9127,9127,0,891,2,2,0.000000,0.778502,0.000000,0.000000

In [27]:
df.tail()

,iteration,session,run,obj_init,obj_found,diff_seg_reward,current_seg_reward,expected_reward,loss
9123,9123,12,890,2,1,0.017791,0.336230,0.172091,0.005311
9124,9124,13,890,2,1,0.007960,0.344190,0.150515,0.007075
9125,9125,14,890,2,1,-0.001074,0.343116,0.128352,0.011119
9126,9126,0,890,2,2,0.472636,0.815753,22.456054,21.710148
9127,9127,0,891,2,2,0.000000,0.778502,0.000000,0.000000

In [28]:
fig_save_path = '/home/raul/Desktop/diss_img/plots/'

In [29]:
THRS = [30, 20, 10, 5, 3]
INTERVAL = 50

# temp = F.plot_success_rate_on_run_intervals(df, THRS, INTERVAL)
# plt.savefig('/home/raul/Desktop/diss_img/plots/training_success_rates')

In [54]:
# plot_success_rate_on_run_intervals(df, 100)

In [55]:
# F.plot_success_rate_on_run_intervals_group_bars(df, [5, 15, 30], 50)

# plt.savefig(fig_save_path + 'average_number_visible_targets_group_bar')